
@font-face {
    src: url('../fnt/OpenSans-Regular.ttf');
    font-family: 'OpenSans-Regular';
    font-weight: normal;
}
@font-face {
    src: url('../fnt/OpenSans-Bold.ttf');
    font-family: 'OpenSans-Bold';
    font-weight: bold;
}
@font-face {
    src: url('../fnt/OpenSans-ExtraBold.ttf');
    font-family: 'OpenSans-ExtraBold';
    font-weight: bolder;
}
body {
	margin: 0;
	padding: 0;
}
body p, .get-mail, .getn-name, .getn-txt, .subscr-email {
	color: #4C4C4C;
	font-family: "OpenSans-Regular", Helvetica, Arial, sans-serif;
    font-size: 11pt;
    line-height: 2;
}
footer {
	background-color: #313030;
	display: flex;
	justify-content: center;
}
header {
	background-color: #F6F2F2;
	display: flex;
	justify-content: center;
}
main {	
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
nav {
	display: flex;
	background-color: #313030;	
	justify-content: center;
	margin-top: 13px;
}
nav, .footr-wrp, .getintouch, .intro, .services, .team, .products {
	max-width: 1224px;
	width: 100%;
}
.footr-wrp {
	display: flex;
	justify-content: space-between;
	padding: 45px 15px 30px;
}
.footr-wrp > p {
	color: #B8B8B8;
	display: flex;
	justify-content: flex-start;
	letter-spacing: 0.6pt;
	margin: 0;	
	width: 400px;
}
.getintouch {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 90px 15px 107px;
}
.getintouch > h1, .products > h1, .serv-left > h1, .team > h1 {
	font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
	font-size: 32pt;
	margin: 0;
	text-transform: uppercase;
}
.getintouch > hr {
	border-color: #FF3F40;
	margin: 0;
	width: 125px;
}
.getintouch > p {
	margin: 32px 0 47px;
	width: 710px;
}

.getn-btn, .intro-btn, .subscr-btn {
	align-items: center;
	background-color: #FF3F40;	
	color: #E0E0E0;	
	display: flex;
	font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
    font-size: 14pt;
	height: 53px;
	justify-content: center;
	text-decoration: none;	
}
.getn-btn {
	border: none;
	cursor: pointer;
	height: 70px;
	text-transform: uppercase;
	width: 100%;
}
.getn-cntc {
	background-color: #313030;
	box-sizing: border-box;
	color: #D5D5D5;
	display: flex;
	flex-direction: column;
	margin-left: 40px;
	padding: 137px 0 0 7%;
	position: relative;
	width: 33%;
}
.getn-cntc > h2 {
	font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
    font-size: 14pt;
    margin: 0 0 20px;
	text-transform: uppercase;
}
.getn-cntc > p {
	color: #D5D5D5;
	margin: 7px 0;

}
.getn-cntc::after {
	background-color: #313030;
	content: '';
	display: block;
	height: 479px;
	position: absolute;
	right: 0;
	top: 0;
	transform: translateX(100%);
	width: 100vw;
}
.getn-mail, .getn-name {
	align-items: center;
	background-color: #E6E6E6;
	border: none;
	display: flex;
	height: 48px;
	width: 44%;	
}
.getn-mail, .getn-name, .getn-txt {
	font-size: 13pt;
	padding: 10px;
}
.getn-mess {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;	
	width: 59%;
}
.getn-txt {
	background-color: #E6E6E6;
	border: none;
	height: 226px;
	margin: 44px 0;
	width: 100%
}
.getn-wrp {
	display: flex;
	justify-content: space-between;
	padding-top: 72px;
}
.intro {
	display: flex;
	justify-content: space-between;
	padding: 92px 15px 108px;		
}
.intro-btn {	
	width: 222px;
}
.intro-img {
	margin: 11px 0 0 20px;
	max-width: 529px;
}
.intro-img > img {
	height: auto;
	width: 100%;
}
.intro-wrp {
	background-color: #F6F2F2;
	display: flex;
    justify-content: center;
}	
.intro-text {
	display: flex;
	flex-direction: column;
	width: 585px;
}
.intro-text > h1 {
	font-family: "OpenSans-ExtraBold", Helvetica, Arial, sans-serif;
	font-size: 45pt;
	text-transform: uppercase;
	line-height: 1.18;
	margin: 0;
}
.intro-text > p {
	margin: 15px 0 50px;
}
.products {
	margin: 0px auto;
	padding: 88px 15px 0;
	text-align: center;
}
.products > hr {
	border-color: #FF3F40;
	margin: 0 auto;
	width: 127px;
}
.products > p {
	display: flex;
	margin: 14px auto 23px;
	max-width: 500px;
}
.prod-gal {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.prod-gal > img {
	display: flex;
	height: 286px;
	margin: 7px;
	width: 292px;	
}
.prod-menu {
	display: flex;
	justify-content: space-between;
	margin: 0 auto 15px;
	padding: 80px 20px 35px;
	font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
	font-size: 16pt;
	list-style: none;
	text-transform: uppercase;
	width: 71%;	
}
.prod-menu > li {
	align-items: center;
	display: flex;
}
.prod-menu > li > a {
	color: #4C4C4C;
	display: flex;
	text-decoration: none;
}
.prod-menu > li > a:hover {
	color: #FF3F40;
}
.services {
	display: flex;
	justify-content: space-between;
    margin: 0 auto;
    padding: 99px 15px 59px;
    border-bottom-style: solid;    
    border-bottom-width: 4px;
    border-bottom-color: #ECECEC;
    flex-wrap: wrap;
}
.serv-button {
	align-items: center;
    border-color: #FF3F40;
    border-style: solid;
    border-width: 4px;
    color: #FF3F40;
    display: flex;
    font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
    font-size: 14pt;
    height: 48px;
    justify-content: center;
    text-decoration: none;
    width: 215px;
}
.serv-item {
	padding: 0 10px 5px;
	width: 45%
}
.serv-item > h2 {
    color: #4C4C4C;
	font-family: "OpenSans-Regular", Helvetica, Arial, sans-serif;
    font-size: 18pt;
    letter-spacing: 1px;
    margin-bottom: 0;
}
.serv-item > p {
	margin: 10px 0 27px;
}
.serv-item > img {
	height: 46px;
	width: 46px;
}
.serv-left {
	display: flex;
	flex-direction: column;
	width: 50%;	
}
.serv-left > p {
	margin: 26px 0 44px;
} 
.serv-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 49%;
}
.social {
	display: flex;
	justify-content: space-between;
	list-style: none;	
	margin: 0;
	padding: 0;
	width: 170px
}
.social img {
	height: 33px;
	width: 33px;

}
.subscribe {
	background-color: #F5F0DD;
	padding: 131px 0 137px;
	text-align: center; 
}
.subscribe > h1, .subscribe > p {
    color: #FDFCF8;
 }
.subscribe > h1 {
	font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
    font-size: 30pt;
    letter-spacing: 1.8px;
    margin: 0;
}
.subscribe > p {	
	margin: 20px 0 55px;
}
.subscr-btn {
	border: none;
	cursor: pointer;
	height: 100%;
	text-transform: uppercase;
	width: 28%;
}
.subscr-email {
	align-items: center;
	background-color: #FFFFFF;
	border: none;	
	box-sizing: border-box;
	display: flex;
	font-size: 12pt;
	padding-left: 36px;
	width: 70%;
}
.subscr-wrp {
	display: flex;
	height: 78px;
	justify-content: space-between;
	margin: 0 auto;	
	width: 60%;

}
.team {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding: 119px 15px 102px;
}
.team > hr {
	border-color: #FF3F40;
	margin: 0;
	width: 130px;
}
.team > p {
	margin: 17px 0 27px;
	width: 450px;
}
.team-info {
	display: flex;
	flex-direction: column;
	margin-left: 384px;
}
.team-info > h2 {
	color: #4C4C4C;
	font-family: "OpenSans-Regular", Helvetica, Arial, sans-serif;
    font-size: 22pt;
    margin: 8px 0 0;    
    text-transform: uppercase;
}
.team-info > p {
	margin: 18px 0 32px;
}
.team-menu {
	display: flex;
	font-family: "OpenSans-Regular", Helvetica, Arial, sans-serif;
    font-size: 13pt;
	font-style: italic;
	justify-content: space-between;
	list-style: none;
	margin: 0 0 49px 384px;
	padding: 0;
	width: 370px;
}
.team-menu a {
	color: #4C4C4C;
	text-decoration: none;
}
.team-menu a:hover {
	color: #FF3F40;	
} 
.team-photos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	margin: 0 0 0 376px;
	padding: 0;
}
.team-photos > li {
	align-items: flex-end;
	display: flex;
	padding: 10px 9px 0;
}
.team-photos > li > img {
	height: 214px;
	width: 194px;
}
.team-wrp {
	flex-direction: column;
	display: flex;
	margin-top: 67px;
	position: relative;
}
.team-wrp > img {
	height: 452px;
	left: 0;
	position: absolute;
	top: 0;
	width: 315px;
}
.top-menu {
	display: flex;
	list-style: none;
	margin: 0;	
	padding: 0;
}
.top-menu a {
	align-items: center;
	color: #E0E0E0;
	display: flex;
	height: 90px;
	font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
	font-size: 10pt;
	padding: 0 30px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
.top-menu a:hover {
	background-color: #FF3F40;
}
@media screen and (max-width: 1185px) {
	.team-info, .team-menu {
		margin-left: 180px;
	}
	.team-photos {
		margin: 0;
	}
	.team-photos > li > img {
		height: 160px;
		width: 145px;		
	}
	.team-wrp > img {
		height: 226px;
		width: 157px;
	}
   
}
@media screen and (max-width: 940px) {
	.getn-cntc {
		padding: 113px 0 0 20px;
		width: 40%;
	}
	.getn-cntc::after {
		height: 595px;
	}
	.getn-mail, .getn-name {
		width: 100%
	}
	.getn-mail {
		margin-top: 44px;
	}
    .intro {
    	align-items: center;
    	flex-direction: column;
		padding: 30px 15px 108px;		
    }
    .intro-img {
    	margin: 46px 0 0 0;
		width: 100%;
    }
    .intro-text {
    	width: 100%;
    }
    .intro-text > h1 {
    	text-align: center;
    }
    .intro-text > p {
    	margin: 15px 0 30px;    	
    }
    .prod-menu {
    	font-size: 12pt;
    }
    .services {
    	justify-content: center;
    }
    .serv-left, .serv-list {
    	width: 70%
    }
    .serv-list {
    	margin-top: 46px;
    }
    .subscr-btn {
    	font-size: 12pt;
    }
    .subscr-wrp {
    	height: 64px;
    }
}
@media screen and (max-width: 636px) {
	.footr-wrp {
		flex-wrap: wrap;
		justify-content: center;
		padding: 15px;
	}
	.footr-wrp > p {
		width: 100%;
	}
	.getintouch > h1, .products > h1, .serv-left > h1, .team > h1 {
		font-size: 25pt;	
    }
    .getn-cntc {
    	margin: 40px 0 0 0;
    	padding: 20px;
    	width: 100%;    	
    }
    .getn-cntc::after {
    	display: none;
    }	
    .getn-mess {
    	width: 100%;
    }
    .getn-wrp {
    	flex-wrap: wrap;
    }
    .intro-text > h1 {
    	font-size: 41px;
    }
    .prod-menu {
    	display: block;
    	margin: 0;
    }
    .serv-item {
    	width: 100%;
    }
    .serv-list {
    	width: 100%
    }
    .social {
    	margin: 20px 0 0;
    }
    .subscribe > h1 {
    	font-size: 25pt;
    }
    .subscr-wrp {
    	width: 100%;
    }
    .team-info {
    	margin: 44px 0 0;
    }
    .team-menu {
    	margin-left: 0;
    	width: 90%;
    }
    .team-wrp {
    	align-items: center;
    }
    .team-wrp > img {
    	position: relative;
    }
    .top-menu a {
    	font-size: 8pt;
    	padding-left: 24px;
    	padding-right: 24px;
    }
}